@import url(./general-styles.css);

/* Navbar */
.menuHamburguesa {
    display: none;
    width: 30px;
    height: 30px;
}

.logo {
    width: 100px;
    height: 40px;
}

.navbar-left ul, 
.navbar-right ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom: 1px solid var(--gray);
    position: fixed;
    top: 0;
    background-color: var(--white);
    width: 100%;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left ul {
    margin-left: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--gray);
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 8px;
    font-weight: bold;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    color: var(--custom-color);
    border: 1px solid var(--custom-color);
}

.navbar-email {
    color: var(--gray);
    cursor: pointer;
    font-size: var(--sm);
    font-weight: bold;
    margin-right: 12px;
}

.navbar-shopping-cart {
    position: relative;
}

.navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: #ACD9B2;
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -5px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-right img {
    width: 30px;
}

/* Menu Desktop */
.desktop-menu {
    position: absolute;
    top: 60px;
    right: 70px;
    background-color: var(--white);
    width: 150px;
    height: auto;
    border: 1px solid var(--gray);
    border-radius: 6px;
    padding: 20px 20px 0 20px ;
}

.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu ul li {
    text-align: end;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
    font-weight: bold;
}

.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--gray)
}

.desktop-menu ul li a {
    color: var(--black );
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

.desktop-menu ul li:last-child a {
    color: var(--custom-color);
    font-size: var(--sm);
}

/* Menu Mobile */
.mobile-menu {
    background-color: var(--white);
    position: absolute;
    padding: 20px;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
}

.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.mobile-menu ul {
    list-style: none;
    margin: 0px 0 0;
}

.mobile-menu ul:nth-child(1) li:nth-child(1) {
    margin-bottom: 40px;
    margin-top: 0;
}

.mobile-menu ul:nth-child(1) li:nth-child(1) a {
    cursor: default;
}

.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--gray);
}

.mobile-menu ul:nth-child(2) {
    border-bottom: 1px solid var(--gray);
}

.mobile-menu ul li{
    margin: 20px 0;
}

.email {
    font-size: var(--sm);
    color: var(--gray) !important;
}

.sign-out {
    font-size: var(--sm);
    color: var(--custom-color) !important;
}

/* Aside (shopping cart y product detail) */
aside {
    background-color: var(--white);
    width: 360px;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: 0;
}

/* ShoppingCart */
#shoppingCartContainer {
    padding: 0 24px;
}

.my-order-content {
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-container {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.title-container img {
    width: 20px;
    height: 15px;
    transform: rotate(180deg);
    margin-right: 14px;
}

.title {
    font-size: var(--lg);
    font-weight: bold;
}

.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    margin-bottom: 24px;
}

.shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

.shopping-cart p:nth-child(2) {
    color: var(--gray);
    font-weight: bold;
    margin-left: 10px;
}

.shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}

.delete-product {
    background-color: rgb(233, 224, 171);
    width: 30px;
    height: 30px;
    top: 16px;
    right: 0;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 8px;
}

.delete-product img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.delete-product:hover {
    cursor: pointer;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    align-items: center;
    background-color: rgb(228, 228, 228);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 16px 24px;
}

.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}

.order p span:nth-child(2) {
    font-size: var(--sm);
    color: var(--gray);
}

.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}

.primary-button img {
    width: 20px;
    margin-right: 10px;
}

/* Product Detail */
.separate-content {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-detail-close {
    background-color: rgb(233, 224, 171);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 16px;
    left: 16px;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product-detail-close img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-detail-close:hover {
    cursor: pointer;
}

#product-detail img:nth-child(2) {
    width: 100%;
    max-height: 260px;
    border-radius: 0 0 20px 20px;
    object-fit: cover;
}

#product-detail .product-info{
    margin: 24px 24px 0 24px;
}

#product-detail .product-info p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-bottom: 4px;
}

#product-detail .product-info p:nth-child(2){
    color: var(--gray);
    font-size: var(--md);
    margin-bottom: 24px;
}

#product-detail .product-info p:nth-child(3){
    color: var(--gray);
    font-size: var(--sm);
    margin-bottom: 24px;
}

.primary-button img {
    width: 20px;
    margin-right: 10px;
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95% !important;
    margin: 0 10px;
    
}

/* Lista de productos */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 20px;
    place-content: center;
    margin: 90px 30px 30px;
}

.product-card {
    width: 240px;
}

.product-card > img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

.product-card .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-card .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.product-card .product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
}

.product-card figure img {
    width: 30px;
}



@media (max-width: 640px) {
    .menuHamburguesa {
        display: block;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-email {
        display: none;
    }
    .desktop-menu {
        display: none;
    }
    aside {
        width: 100%;
        height: 100%;
    }
    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
        gap: 20px;
    }
    .product-card {
        width: 140px;
    }
    .product-card > img {
        width: 140px;
        height: 140px;
    }
}

@media (min-width:641px) and (max-width:840px) {
        .menuHamburguesa {
            display: block;
        }
        .navbar-left ul {
            display: none;
        }
        .navbar-email {
            display: none;
        }
        .desktop-menu {
            display: none;
        }
        
        .cards-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, 190px);
            gap: 20px;
        }
        .product-card {
            width: 190px;
        }
        .product-card > img {
            width: 190px;
            height: 190px;
        }
}

@media (min-width: 841px) {
    .mobile-menu {
        display: none;
    }
}
